results/
pfc.txt
fct.txt
qlen.txt
trace.txt
mix.tr
*.et
text-workloads/
et-workloads/
logical-topo-configs/
network-configs/
memory-configs/
system-configs/
network-topologies/
# reconfigurable-topologies/
oneshot-topologies/
collectives/
gurobi.lic
*tar.gz
*.log
oneshot-results/